body {
    background: #5e8adb;
}

.clock-canvas {
    transform: rotate(-90deg);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    box-shadow:inset -2px 2px 4px rgba(0, 0, 0, 0.2);
}


.form-main {
    
}
